name: TNanko's Scripts Config File

# 消息推送
notify:
  enable: true # true 开启消息推送； false 关闭消息推送 （默认所有脚本开启消息推送）
  type:
    # 建议只填写一两个或者全部填写后设置对应脚本任务中的 notify_mode 参数
    bark:
      # ios 在 app store 下载 bark app，bark 推送 url 为 https://api.day.app/xxxxxxxxxxx/这里改成你自己的推送内容，则 xxxxxxxxxxx 为你的 bark 机器码
      BARK_MACHINE_CODE:
    telegram_bot:
      # 暂时自行百度google
      TG_BOT_TOKEN:
      TG_USER_ID:
    dingding_bot:
      # 钉钉机器人，参考教程：https://ding-doc.dingtalk.com/doc#/serverapi2/qf2nxq 在"安全设置"中选择"加签"（必须勾选），其他不懂不要勾选
      DD_BOT_ACCESS_TOKEN:
      DD_BOT_SECRET:
    server_chan:
      # 未测试
      # ServerChan，参考教程：http://sc.ftqq.com/3.version
      SCKEY:

# 脚本配置信息
jobs:
  qq_read:
    enable: false # true 启用脚本； false 不启用脚本（默认不启用脚本）
    notify: false # true 启用消息推送； false 不启用消息推送（默认不发消息推送）
    notify_mode: # 如果全都配置了，可以根据自身需求进行消息推送方式的选择，不需要的可以注释掉或者删除。由于 bark 消息长度的限制，不推荐 bark
      - bark
      - telegram_bot
      - dingding_bot
      - server_chan
    parameters:
      UPLOAD_TIME: 5 # 每次上传阅读时长（单位分钟）
      MAX_READ_TIME: 1200 # 每日最大阅读时长（单位分钟）
      ACCOUNTS:
          # 使用前请阅读 https://raw.githubusercontent.com/TNanko/Scripts/master/scripts/qq_read.py 前30行使用说明
          # 前两项必填，后者自己抓，懒得动手或者不会就别修改；多账号，建议在编辑器上将下面三个参数复制一遍，例子已经写好。不要带引号，不要带引号，不要带引号！
        - YWSESSION:
          COOKIE:
          BOOK_URL: https://mqqapi.reader.qq.com/mqq/addReadTimeWithBid?scene=3001&refer=-1&bid=30544815&readTime=2685&read_type=0&conttype=1&read_status=0&chapter_info=[{"65":{"readTime":2685,"pay_status":0}}]&sp=-1
#        - YWSESSION:
#          COOKIE:
#          BOOK_URL:
